*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding-top: 50px;
}

header {
    background-color: #889b72;
    color: black;
    padding: 25px;
}

section {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

h2 {
    margin-bottom: 10px;
    color: #010166;
}

ul {
    margin-left: 20px;
}

footer {
    margin-top: 30px;
    color: #333;
}
