*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding-top: 50px;
}

header {
    background-color: #889b72;
    color: black;
    padding: 25px;
}

section {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

h2 {
    margin-bottom: 10px;
    color: #010166;
}

ul {
    margin-left: 20px;
}

footer {
    margin-top: 30px;
    color: #333;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 40px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #ddd;
}

/* added hover effect for cards */

.card:hover {
    background: #333;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* here we tell the browser to make the cards responsive  */

@media (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 300px;
    }
}